#container {
  margin: 20px auto;
  width: 900px;
  padding: 20px;
  position: relative;

}


/* All of this is for the nav bar */

.home_button {
  float:left;
  border-radius: 4px;
}

.logout_button {
  text-align: right;
  float: right;
  border-radius: 4px;
  margin-right: 20px;
}

.stats_button {
  float: right;
  margin-right: 20px;
  border-radius: 4px;
}

nav {
  display: block;
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
  padding-top: 20px;
  padding-left: 20px;
}


nav a, .header_button, .stats_button {
  padding: .8em 1.5em;
  text-decoration: none;
  color: #cc33ff;
  font: bold 1.1em/1 'arial', Arial, Helvetica;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-width: 0px;
  border-style: solid;
  border-color: #cc33ff;
  background: #643e27;
           
 }
 





