.beautiful_card {
  background-image:url('../img/chalkboard.png');
 
}

#whole_card {
  
  background-image:url('../img/chalkboard.png');
  height: 300px;
  width: 400px;
  display: inline-block;

 
}

#dren_helper {
	position: relative;
  float: left;
	background-image:url('../img/dren_helper.png');
	
}

.round {
  text-align: center;
}

/* Cards */
.correct {
  background-color: #60ba3e;
}

.wrong {
  background-color: #4f0c8d;
}

.feedback {
  padding: 15px;
}


#guess_input {
  
  background-color: gray;
 
}
