
#welcome_message {
  padding-top: 320px;
  text-align: center;
 
}

#login_form {
	width: 150px;
	height: 500px;
	position: relative;
	float: right;
	padding-top: 80px;
	padding-right: 50px;
}

/*.login_button {
	text-align: center;
	position: relative;
	border-radius: 1px;
	border-width: 3px;
	

}*/

#text_input {
	height: 40px;
	width: 150px;
	margin: 5px;
}

h3 h1 {
 color: #60ba3e;
 font-style: Lucida;
}

#dren {
	background-image:url('../img/dren4.png');
	width: 500px;
	height: 600px;
	position: fixed;
}

body {
	/*background-image:url('../img/cork_board.jpg');*/
	display; block; 
	/*background-image:url('../img/ricepaper2_@2X.png');*/
	background-image:url('../img/clouds.jpg');

}

h1 {
text-align: center;
}

h2 {
	/*display: relative;*/
	width: 280px;
}

p {
	color:white;
}

/*
#dren)colors{
	4f0c8d - purple
	cc33ff - pink
	60ba3e - green
	643e27 - brown
}*/