
.round_stats {
  margin: 40px 0px 0px 40px;
  padding: 10px;
}

#user_stats {
	margin-left: 30em;
	position: fixed;
	display: inline-block;
}

/*.container .round_stats:nth-child(odd) {
  background-color: #DDD;
}

.container .round_stats:nth-child(even) {
  background-color: #e1e3f4;
}
*/