<% if @correct %>
  <h2 class="feedback_correct">You Got It! The answer is <%=@card.answer%>.</h2>
  <div id="dren_success"></div>
<% else %>

  <h2 class="feedback_wrong">The correct answer is <%=@card.answer%>.</h2>
<% end %>