<div class="welcome_user">
	<h2>Welcome, <%= @user.username %>!</h2>
	<h3> Select The Game You Want To Play <h3>
</div>
	<div id="dren_decks"></div>
	<div class="decks">
		<ul>
			<% @decks.each do |deck| %>
			<li><a href="/rounds?deck_id=<%= deck.id %>"><%=deck.name%></a></li>
			<% end %>
		</ul>
	</div>