<% if @user == false %>
Log in unsuccessful. Is caps lock on?
<% end %>
<div id='dren'>
	<h2>Hi, I am DREN.</h2>
	<p>Let's Learn Math Together</p>
</div>

<div id="login_form">
	<h2> Sign-up/Login-in here:</h2>

	<form action='/users' method='post'>
		<input id="text_input" type="text" name="user[username]" placeholder="Username" required>
		<input id="text_input" type="password" name="user[password]" placeholder="Password" required>
		<div class="login_button">
			<input type="submit" value="Submit">
		</div>
	</form>
</div>

